*
!.gitignore
!.dockerignore
!/buildconfig/
!/buildconfig/**
!/s2i/
!/s2i/**
!/tekton/
!/tekton/**
!/test/
!/test/**
/test/tmp
!Dockerfile
!Makefile
!README.md
!settings.xml
!init.gradle
**/.DS_Store
**/.gradle
